/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/old-code/
/data/
/resources/
/.idea/
/book-data/
/forrdd-sparkplug
/code/
/data-used/delta-lake/
/.idea/
/data-used/delta-lake-docs/
/test/squery_spark/delta_lake_docs/spark-warehouse/
/test/squery_spark/spark_definitive_book/spark-warehouse/
/.idea/
#common-tips
